img {
  width: 350px;
  height: 300px;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
}

.canvasWrapper {
  width: 350px;
  height: 300px;
}

.separator {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid gray;
  margin: 0 4px;
}

.combined {
  position: relative;
  width: 350px;
  height: 300px;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
}

.sample {
  position: absolute;
  left: 0;
  top: 0;
}

.controls {
  display: flex;
  column-gap: 8px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.extractButton,
.saveImageButton {
  padding: 4px 8px;
}
